@page "/customers/{id}"
@inject ICustomer customerAction
@inject NavigationManager navManager


<div class="customer-cont">

   
        <div class="flex justify-between">
            <h1 style="font-weight:bold; font-size:30px">Customer Details</h1>

        @if (customerDto != null)
        {
            <div class="flex justify-evenly text-center">
                <a href="accounts/create/@customerDto.Id" class="button-17" style="font-size:12px; font-weight:500; ">              
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="mt-[5px]" style="margin-top: 0;" viewBox="0 0 16 16">
                        <path d="M8 0c-.176 0-.35.006-.523.017l.064.998a7.117 7.117 0 0 1 .918 0l.064-.998A8.113 8.113 0 0 0 8 0zM6.44.152c-.346.069-.684.16-1.012.27l.321.948c.287-.098.582-.177.884-.237L6.44.153zm4.132.271a7.946 7.946 0 0 0-1.011-.27l-.194.98c.302.06.597.14.884.237l.321-.947zm1.873.925a8 8 0 0 0-.906-.524l-.443.896c.275.136.54.29.793.459l.556-.831zM4.46.824c-.314.155-.616.33-.905.524l.556.83a7.07 7.07 0 0 1 .793-.458L4.46.824zM2.725 1.985c-.262.23-.51.478-.74.74l.752.66c.202-.23.418-.446.648-.648l-.66-.752zm11.29.74a8.058 8.058 0 0 0-.74-.74l-.66.752c.23.202.447.418.648.648l.752-.66zm1.161 1.735a7.98 7.98 0 0 0-.524-.905l-.83.556c.169.253.322.518.458.793l.896-.443zM1.348 3.555c-.194.289-.37.591-.524.906l.896.443c.136-.275.29-.54.459-.793l-.831-.556zM.423 5.428a7.945 7.945 0 0 0-.27 1.011l.98.194c.06-.302.14-.597.237-.884l-.947-.321zM15.848 6.44a7.943 7.943 0 0 0-.27-1.012l-.948.321c.098.287.177.582.237.884l.98-.194zM.017 7.477a8.113 8.113 0 0 0 0 1.046l.998-.064a7.117 7.117 0 0 1 0-.918l-.998-.064zM16 8a8.1 8.1 0 0 0-.017-.523l-.998.064a7.11 7.11 0 0 1 0 .918l.998.064A8.1 8.1 0 0 0 16 8zM.152 9.56c.069.346.16.684.27 1.012l.948-.321a6.944 6.944 0 0 1-.237-.884l-.98.194zm15.425 1.012c.112-.328.202-.666.27-1.011l-.98-.194c-.06.302-.14.597-.237.884l.947.321zM.824 11.54a8 8 0 0 0 .524.905l.83-.556a6.999 6.999 0 0 1-.458-.793l-.896.443zm13.828.905c.194-.289.37-.591.524-.906l-.896-.443c-.136.275-.29.54-.459.793l.831.556zm-12.667.83c.23.262.478.51.74.74l.66-.752a7.047 7.047 0 0 1-.648-.648l-.752.66zm11.29.74c.262-.23.51-.478.74-.74l-.752-.66c-.201.23-.418.447-.648.648l.66.752zm-1.735 1.161c.314-.155.616-.33.905-.524l-.556-.83a7.07 7.07 0 0 1-.793.458l.443.896zm-7.985-.524c.289.194.591.37.906.524l.443-.896a6.998 6.998 0 0 1-.793-.459l-.556.831zm1.873.925c.328.112.666.202 1.011.27l.194-.98a6.953 6.953 0 0 1-.884-.237l-.321.947zm4.132.271a7.944 7.944 0 0 0 1.012-.27l-.321-.948a6.954 6.954 0 0 1-.884.237l.194.98zm-2.083.135a8.1 8.1 0 0 0 1.046 0l-.064-.998a7.11 7.11 0 0 1-.918 0l-.064.998zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                    </svg>
                    <span>
                        <p class="mt-[5px] ml-[3px]" style="margin-bottom: 3px;font-size: inherit;">Add New Account</p>
                    </span>
                </a>
            </div>

        }

        </div>

    @if (customerDto != null)
    {

            <div class="card text-purp">
                <h3 style="font-weight:bold; font-size:18px" class="text-dkbl">Accounts</h3>
                <table class="table table-hover">

                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Account No.</th>
                            <th scope="col">Account Type</th>
                            <th scope="col">Account Balance (&#x20A6;)</th>                                                
                            <th scope="col" colspan="2">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var account in customerDto.Accounts)
                        {
                            <tr class="cust-td">
                                <td class="table-data" scope="row"><a target="_blank" style="text-decoration: none !important;" href="accounts/@account.Id">@(1 + customerDto.Accounts.IndexOf(account))</a></td>
                                <td>@account.AccountNumber</td>
                                <td>@account.Type</td>
                                <td>@(string.Format("{0:0,0.00}", account.Balance))</td>
                                <td class="table-data blue" @onclick="(() => Transfer(customerDto))"><i class="bi bi-arrow-left-right"></i></td>
                                <td class="table-data green"><a target="_blank" style="color: green; text-decoration: none !important;" href="accounts/@account.Id"><i class="bi bi-eye-fill"></i></a></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>


            <div class="card text-purp">
                <h3 style="font-weight:bold; font-size:18px" class="text-dkbl">Details</h3>

                <div class="border-bottom d-flex justify-content-between align-items-end" style="margin-top: 10px;">
                    <p class=" text-dkbl text-lg text-md text-sm">LastName</p>
                    <div class="d-flex ">
                        <p class=" text-lg text-md text-sm mr-2">
                            @customerDto.LastName
                        </p>
                    </div>
                </div>
            
                <div class="border-bottom d-flex justify-content-between align-items-end" style="margin-top: 10px;">
                    <p class="text-dkbl text-lg text-md text-sm">FirstName</p>
                    <div class="d-flex ">
                        <p class=" text-lg text-md text-sm mr-2">
                            @customerDto.FirstName
                        </p>
                    </div>
                </div>
            
                <div class="border-bottom d-flex justify-content-between align-items-end" style="margin-top: 10px;">
                    <p class="text-dkbl text-lg text-md text-sm">MiddleName</p>
                    <div class="d-flex ">
                        <p class=" text-lg text-md text-sm mr-2">
                            @customerDto.MiddleName
                        </p>
                    </div>
                </div>  
                <div class="border-bottom d-flex justify-content-between align-items-end" style="margin-top: 10px;">
                    <p class="text-dkbl text-lg text-md text-sm">PhoneNumber</p>
                    <div class="d-flex ">
                        <p class=" text-lg text-md text-sm mr-2">
                            @customerDto.PhoneNumber
                        </p>
                    </div>
                </div>  
                <div class="border-bottom d-flex justify-content-between align-items-end" style="margin-top: 10px;">
                    <p class="text-dkbl text-lg text-md text-sm">NIN</p>
                    <div class="d-flex ">
                        <p class=" text-lg text-md text-sm mr-2">
                            @customerDto.NIN
                        </p>
                    </div>
                </div>  
           
                <div class="border-bottom d-flex justify-content-between align-items-end" style="margin-top: 10px;">
                    <p class="text-dkbl text-lg text-md text-sm">BVN</p>
                    <div class="d-flex ">
                        <p class=" text-lg text-md text-sm mr-2">
                            @customerDto.BVN
                        </p>
                    </div>
                </div>
                <div class="border-bottom d-flex justify-content-between align-items-end" style="margin-top: 10px;">
                    <p class="text-dkbl text-lg text-md text-sm">Address</p>
                    <div class="d-flex ">
                        <p class=" text-lg text-md text-sm mr-2">
                            @customerDto.Address
                        </p>
                    </div>
                </div>
            
                <div class="border-bottom d-flex justify-content-between align-items-end" style="margin-top: 10px;">
                    <p class="text-dkbl text-lg text-md text-sm">KYC Level</p>
                    <div class="d-flex ">
                        <p class=" text-lg text-md text-sm mr-2">
                            @customerDto.KYCLevel
                        </p>
                    </div>
                </div> 
                <div class="border-bottom d-flex justify-content-between align-items-end" style="margin-top: 10px;">
                    <p class="text-dkbl text-lg text-md text-sm">Date of Registration</p>
                    <div class="d-flex ">
                        <p class=" text-lg text-md text-sm mr-2">
                            @customerDto.CreationDate.ToString("dd MMMM yyyy")
                        </p>
                    </div>
                </div> 
                <div class="border-bottom d-flex justify-content-between align-items-end" style="margin-top: 10px;">
                    <p class="text-dkbl text-lg text-md text-sm">Date of Birth</p>
                    <div class="d-flex ">
                        <p class=" text-lg text-md text-sm mr-2">
                            @customerDto.DateOfBirth.ToString("dd MMMM yyyy")
                        </p>
                    </div>
                </div>

            </div>   
        }
</div>
@code {
    
    [Parameter]
    public string Id { get; set; }
    private CustomerDto customerDto;

    protected override async Task OnInitializedAsync()
    {
        customerDto = await customerAction.GetCustomerDetailsAsync(Id);
    }

    private void AccountDetails(AccountDto account)
    {
        navManager.NavigateTo($"accounts/{account.Id}");
    }

    private void Transfer(CustomerDto customer)
    {
        navManager.NavigateTo($"transfer/{customer.Id}");
    }
    
    private void CreateAccount(CustomerDto customer)
    {
        navManager.NavigateTo($"accounts/create/{customer.Id}");
    }
}
